/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --background-color: #fff;
    --detail-color: #000;

    --main-color: #000;
    --button-color: #fff;
    --main-bg-color: #fff;

    --main-font: 'Inter-Variable', sans-cerf;
    --accent-font: 'PressStart2P-Regular',  fantasy;
    --wgth-text: 400;
    --wgth-title: 700;

    --wdth-header: clamp(371px, 64.4vw, 700px);

    --page-background: repeating-linear-gradient( to left, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom,  #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom,#e7e7e7 0.01%, #1a1a1a);

    --black-heart: #000;
    --red-heart: #F00;
}